{% extends "base.html" %}
{% block title %}SGE - Fornecedores{% endblock title %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Atualizar a Fornecedores: {{ object.name }}</h3>
    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Atualizar Fornecedores</button>
            </form>
        </div>
    </div>
    <a href="{% url 'suppliers:list' %}" class="btn btn-secondary mt-4">Cancelar e Voltar para a Lista de Fornecedores</a>
</div>
{% endblock content %}