{% extends "base.html" %}
{% block title %}
{{product.title}}
{% endblock title %}
{% block content %}

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <h3 class="display-6">
                Detalhes do Produto
            </h3>
        </div>
        <div class="col-md-6">
            <a href="{% url 'products:update' product.slug %}" class="btn btn-warning float-end"><i class="bi bi-pencil-square"></i>Editar</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{product.title}}</h3>
            <p class="card-text">Categoria: <strong>{{product.category}}</strong></p>
            <p class="card-text">Marca: <strong>{{product.brand}}</strong></p>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">Numero de Série: <strong>{{product.serial_number}}</strong></p>
            <p class="card-text">Preço de Custo: <strong>{{product.cost_price}}</strong></p>
            <p class="card-text">Preço de Venda: <strong>{{product.selling_price}}</strong></p>
            <p class="card-text">Quantidade em Estoque: <strong>{{product.quantity}}</strong></p>
            <p class="card-text float-end">{{updated_at}}</p>
        </div>
    </div>
    <a href="{% url 'products:list' %}" class="btn btn-secondary mt-4">Voltar para a lista de produtos</a>
</div>

{% endblock content %}