{% extends "base.html" %}
{% block title %}SGE -Produtos {% endblock title %}
{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Deletar Produto</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza de que deseja excluir a Produto <strong>{{object.name}}</strong>?</p>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
    <a href="{% url 'products:list' %}" class="btn btn-secondary mt-4">Voltar para a lista de Produtos</a>
</div>

{% endblock content %}