{% extends "base.html" %}
{% block title %}
{{inflow.product}}
{% endblock title %}
{% block content %}

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-6">
            <h3 class="display-6">
                Detalhes da Entrada
            </h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{inflow.product}}</h3>
            <p class="card-text">
                Fornecedor: <strong>{{inflow.supplier}}</strong>
            </p>
            <p class="card-text">
                Quantidade: <strong>{{inflow.quantity}}</strong>
            </p>
            <p class="card-text">
                {{inflow.description}}
            </p>
            <p class="card-text float-end">{{inflow.created_at}}</p>
        </div>
    </div>
    <a href="{% url 'inflows:list' %}" class="btn btn-secondary mt-4">Voltar para a lista de categorias</a>
</div>

{% endblock content %}